/*-------------------------------------\
--------------Main CSS-----------------\
--------------------------------------*/

/*--General--*/
body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  background-color: #f4f4f4;
  font-familly:'Open Sans';
  overflow-x:hidden;
}
a{
  color:#A5D6A7;
  /*display: block;*/
}

	/*Bootsrap modif;*/
/*textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {  
border-color: rgba(126, 239, 104, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
outline: 0 none;}*/

.wrap--content{
  margin-left:220px;
}
.bg-1{background-color: #9e87ce}
.bg-2{background-color: #5c4b51}
.bg-3{background-color: #e0cf75}
.bg-4{background-color: #f5b65a}
.bg-5{background-color: #f25f5c}
.bg-6{background-color: #8abeb2}
.bg-7{background-color: #7986CB}
.bg-8{background-color: #E57373}
.bg-9{background-color: #1E88E5}
.bg-10{background-color: #689F38}

.titre-page{
	text-align:center;
}
.msg_error-bottom{
	position: fixed;
	bottom: 0;
	right:0;
	left:220px;
}
.alert{
margin-bottom:0px;	
}
.alert-warning{
	width: 100%;
    margin-top: 20px;
}

.erreur{
	color :red;
	width:100%;
	height: 40px;
}
.success{
	color:green;
	width:100%;
	height: 40px;
}

/*--nav-side-menu start--*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #A5D6A7;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #A5D6A7;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #A5D6A7;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #A5D6A7;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 768px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    color: #FFF;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .wrap--content{
    margin-left: 0 !important;
  }
  #search-content{
    bottom:0;
    top:12px;
    padding: 0 !important;
    margin: 0 47% !important;
  }
  #search input[type="search"]{
    font-size: 3em !important;
  }
  
  .detail_parcours-header{
  	position:relative !important;
  	left:0 !important;
  	right:0 !important;
  }
  
  .allSection_content{
  	margin-top: 0 !important;
  }
  
}
@media (min-width: 769px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
@media (max-width: 400px) {
  .parcours [class*="col-"]{
 display: block;
}
}
/*nav-side-menu End*/


/*--Search pop-up--*/
#search-content{
    position: absolute;
    bottom: 0;
    width: 220px;
    /*background-color: #23282e;*/
    padding: 20px 43%;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  position: absolute;
  z-index: 999999999;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 5em;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    background-color: #A5D6A7;
    border-color: #A5D6A7;

}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #A5D6A7;
  border-color: #A5D6A7;
  opacity: 1;
  padding: 10px 17px;
  font-size: 3em;
}

/*--tuile parcours--*/

.parcours [class*="col-"]{
  border: 4px solid #f4f4f4;
  min-height: 50vh;
  display: flex;
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.2em;
  color: white;
  text-overflow: ellipsis;
}

.parcours [class*="col-"] h3{
  margin: auto;
}
.parcours [class*="col-"]:hover{
  /*opacity: 0.8;*/
  cursor: pointer;
  text-overflow: ellipsis;
}
.parcours [class*="col-"] .parcours--content{
  display: none;
  font-size: 1.2em;
  width:100%;
  text-overflow: ellipsis;
}
.parcours [class*="col-"] .parcours--content [class*="parcours--content_description"]{
/* border-left: 4px solid; */
border-color: rgba(0, 0, 0, 0.5);
margin-top: 1em;
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-height: normal;
}




/*-- Ajouter Parcours--*/
.theme{
	width:50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}
.form-group .choice{
	border: 3px solid grey;
}

.parcours-preview{
  border: 4px solid #f4f4f4;
  height: 220px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.2em;
  color: white;
}
.parcours-preview .parcours--title{
	line-height:220px;
}

.parcours-preview h3{
  margin: auto;
}
.parcours-preview:hover{
  cursor: pointer;
}
.parcours-preview .parcours--content{
  display: none;
  font-size: 1.2em;
}
.parcours-preview .parcours--content [class*="parcours--content_description"]{
border-left: 4px solid;
border-color: rgba(0, 0, 0, 0.5);
margin-top: 1em;
}

/*Tab ajout ou gestion*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color:#f4f4f4;
}
.nav-tabs>li>a{
	color: #ddd;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{}

/*Step progressbar*/
.progressbar{
	counter-reset: step;
}
.progressbar li{
	list-style-type: none;
	float:left;
	width: 33.33%;
	position: relative;
	text-align: center; 
}
.progressbar li:before{
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	line-height: 39px;
	border:2px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: #f4f4f4;
	cursor: pointer;
}
.progressbar li:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ddd;
	top: 20px;
	left: -50%;
	z-index: -1;
}

.progressbar li:first-child:after{
	content: none;
}

.progressbar li.active{
	color:#A5D6A7; /*#f1c40f;*/
}
.progressbar li.active:before{
	border-color:#A5D6A7; /*#f1c40f;*/
}

#progress_1.active::after, #progress_2.active::after, #progress_3.active::after{
	background-color: #A5D6A7; /*#f1c40f;*/
}

.pager{
	position: fixed;
	bottom: 0;
	left: 50%;
}

#next_step, #prev_step{
	border:1px solid #000;
	border-radius:50%;
	height:35px;
	width:35px;
	line-height:35px;
	cursor:pointer;
}

/*-- Modules de création parcours*/
.module__content{
	background-color:#E0E0E0;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	border: 1px solid #f4f4f4;
}
.module__content:hover{
	background-color:#BDBDBD;
}
.module__content.selected{
	background-color: #FFE57F;
}
.module__content--title{
	font-size:1.35em;
	font-weight:bold;
}

.ajout_Module{
	height: 50px;
	background-color: #A5D6A7;
	color: rgba(1, 1, 1, 0.5);
	border: 5px solid #f4f4f4;
	line-height:50px;
	cursor: pointer;
}

.ajout_Module .plus::before{
  font-family: FontAwesome;
  content: "\f055";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.module_form{
	margin: 5px;
	border-left : 2px solid #2e353d;
	border-right : 2px solid #2e353d;
	border-bottom : 2px solid #2e353d;
	padding: 10px;
}

/*-- Modules de création module*/

/*-- detailParcours*/

.detail_parcours-header{
	margin-left: -15px;
    margin-right: -15px;
	position: fixed;
    left: 235px;
    right: 15px;
    z-index: 999;
    background: #f4f4f4;
}
.detail_parcours-titleTop{
	margin-left: 15px;
    margin-right: 15px;
	text-align:center;
	height: 50px;
	margin-bottom:15px;
	color:#333;
}
.autre_parcours{
	margin-bottom:15px;
	padding: 0 15px;
}

.autre_parcours--title{
	height: 24px;
	line-height:24px;
	font-family:"open sans";
	font-size: 12px;
    font-weight: 400;
    cursor:pointer;
    margin-bottom: 4px;
    padding-left: 8px;
}

.autre_parcours-contener{
	margin-left: 2px;
}

.autre_parcours [id*="autre_parcours-"]{
	height:30px;
	line-height:30px;
	background-color: gray;
	border: 1px solid #f4f4f4;
	cursor: pointer;
}
.detail_parcours-titleTop h3{
	margin-top:0;
	margin-bottom: 0;
	line-height:50px;
}

.detail_parcours-modules{
    margin-bottom: 5px;
}


.detail_parcours-modules h4{
	border: 1px solid #333;
    height: auto;
    font-size:12px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 15px;
    line-height: 25px;
    margin: 0;
}

.detail_parcours-modules h4:hover{
	color:#dedede;
	background-color:#333;
}
.detail_parcours-modules h4.active{
	color:#dedede;
	background-color:#333;
}

.modules_description{
	margin-top:40px;
	font-size:17px;
	font-family:"open sans";
	text-align: justify;
	display: none;
}

#op-horizontalnav {
/* 	background:#2e353d;  */
border-bottom:1px solid #D1D1D7;
}
#op-horizontalnav .op-sectionlist {
	width:100%; 
	max-width:1280px; 
	margin:auto;
	padding:0; 
	text-align:center; 
	display:table;
}
#op-horizontalnav .op-v-item {
	list-style:none; 
	display:table-cell; 
	font-size:16px
}
#op-horizontalnav .op-v-item .op-v-link {
	color:#72727D;
	padding:12px 8px;
	display:block;
	text-decoration:none
}
#op-horizontalnav .op-v-item .op-v-link:hover, #op-horizontalnav .op-v-link.active {
	border-bottom: 3px solid #A5D6A7;
	color:#171717;
}

/*== V nav ==*/
#op-verticalnav {position:fixed; top:0; right:0; left: auto;height: 100%;display:table}
#op-verticalnav .op-sectionlist {height:100%; text-align:center; display:table-cell; vertical-align:middle}
#op-verticalnav .op-v-item {display:block}
#op-verticalnav .justify-height {}
#op-verticalnav .op-v-link {display:block; margin:12px 0}
#op-verticalnav .v-marker {width:15px; height:15px; border-radius:50%; background-color:rgba(165, 214, 167, .4); display:inline-block; vertical-align:middle; margin-bottom:-2px; margin-right:10px; border: 1px solid rgba(165, 214, 167, 1);}
#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {background-color:rgba(165, 214, 167, 1); }
#op-verticalnav .op-v-itemdesc {display:inline-block; font-size:14px; position:absolute; white-space:nowrap; line-height:normal; padding:0 34px 0 0;vertical-align:middle}
#op-verticalnav .op-v-itemdesc .op-v-itembg{display:inline-block; background-color:rgba(0,0,0,.5); color:#fff; padding:4px 10px 6px 10px; border:1px solid rgba(165, 214, 167, 1); border-radius:4px; }
#op-verticalnav .op-v-link:hover .op-v-itemdesc {right:0px; }

/*== Sections ==*/
.allSection_content{
	margin-top: 186px;
	background-color:#fff;
}

.allSection_content h1{
	padding-top:17px;
	font-size: 70px;
	font-family:"open sans";
}

section h1 {
	text-align:center; 
	color:#171717; 
	background:#fff;
/* 	border-top:1px solid rgba(165, 214, 167, 1);  */
	margin:0;
}
.section_content{
	text-align:center;
	padding:20px 50px 450px 50px; 
	height: auto;
	background:white;
/* 	background:#0FC2AD; */
}
section:nth-child(even) h1 {background:#fff;} /*on différencie la couleur 1 section sur 2*/

#mysect1 .section_content p{
	font-size: 16px;
    font-family: "open sans";
    margin: 20px 0;
    height: auto;
    text-align: justify;
}
#mysect2 .section_content, /*#mysect3 .section_content,*/ #mysect4 .section_content, #mysect2  h1, #mysect4  h1{
	background: #dedede;
    margin: 0 12px
}
    

/*profil*/
.profil-menu_top{
	margin-top: 10px;
}

/*profil_detail*/
.profil_detail-content{
	margin: 50px 0;
}

.profil_depot-fichier{
	height: 150px;
	text-align:center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.profil_depot-fichier h4{
	line-height:150px;
}
.profil_information-personnel{
	font-size: 1.5em;
	margin-left: 20px;
	width: 50%;
	margin-top:20px;
}
.profil_information-personnel .info-title_label{
	float: left;
	color:#A5D6A7;
}
.profil_information-personnel--modification{
	margin-left:20px;
}

#profil_modifier-info{
	cursor: pointer;
}

.ajout_Profil-information{
	height: 50px;
	background-color: #A5D6A7;
	color: rgba(1, 1, 1, 0.5);
	border: 5px solid #f4f4f4;
	line-height:50px;
	cursor: pointer;
}

.ajout_Profil-information .plus::before{
  font-family: FontAwesome;
  content: "\f055";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.exp_form, .loisir_form{
	margin: 5px;
	border-left : 2px solid #2e353d;
	border-right : 2px solid #2e353d;
	border-bottom : 2px solid #2e353d;
	padding: 10px;
}

/*--Connexion--*/
.connexion_template{
	background-color: #2e353d;
	width: 100%;
	height:100%
}

.form-Connexion {
	position: absolute;
    top: 30%;
    left: 35%;
}

.form-Connexion .btn_connexion{
	background-color: transparent;
	height: 50px;
	width: 350px;
	border: 1px solid #F4F4F4;
	font-size: 18px;
	color: #F4F4F4;
	margin:10px;
	border:0px;
}
.form-Connexion .btn_connexion:hover{
	background-color: #26C281;
}



#inputEmail::-webkit-input-placeholder, #inputPassword::-webkit-input-placeholder, #inputType::-webkit-input-placeholder {
  color: #F4F4F4;
}

.Connexion_retour{
	width:60px;
	height:60px;
	position: absolute;
	margin:20px;
	border:1px solid #f4f4f4;
	border-radius:50%;
	cursor:pointer;
	
}

.Connexion_retour .fa{
	color:#f4f4f4;
	line-height:60px;
	left: 33%;
    position: relative;
}


.form-Connexion input{
	width: 350px;
    height: 50px;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    font-size:18px;
    font-style:"Open Sans";
    color: #f4f4f4;
}


.form-Connexion input:focus{
    outline: none;
}

/*--International--*/

.intlhead1 {
	text-align:center;
	height: 50px;
	margin-bottom:15px;
}

.intlhead2 {
	text-align:center;
	margin-bottom:15px;
}

.intl_search {
	text-align: center;
	width: 600px;
	height: 20px;
	margin-bottom: 15px;
}
/*--End MAIN CSS*/


